:host {
  .form-input {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left: 20px;
    input[type="text"] {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    label {
      margin-right: 20px;
      font-weight: bold;
    }
  }
  button {
    background-color: rgb(78, 77, 77);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
  button:hover {
    background-color: rgb(151, 150, 150);
  }
}
